.button {
    background-color: blue;
    color: white;
    border: 0px solid white;
}

#main {
    background-color: lightgray;
    border-radius: 10px;
    height: 500px;
    width: 500px;
    font-size: 18pt;
    font-family: arial;
    padding: 0;
}

table {
    border-spacing: 10px;
    position: absolute;
    left: 16px;
    top: 24px;
}

input {
    font-size: 18pt;
}

#content {
    width: 456px;
    height: 240px;
    font-size: 18pt;
    font-family: arial;

}

.userinput {
    width: 360px;
}

.button {
    width: 80px;
    height: 44px;
}