body {
    margin: 0;
}

#container {
    background-color: pink;
    position: relative;
    height: 600px;
}

.page {
    width: 100%;
    height: 100%;
    background-size: 100%;  /*???*/
    position: absolute;
    display: none;
}

#page1 {
    background-image: url(image1.jpg);
}

#page2 {
    background-image: url(image2.jpg);
}

#page3 {
    background-image: url(image3.jpg);
}

input[type="radio"]:checked + .page {
    display: block;
}

#controls {
    position: absolute;
    top: 530px;
    left: 50%;
    transform: translate(-50%, 0);
    user-select: none;
    
    
}

label {
    color: white;
    font-size: 60pt;
    cursor: pointer;
}

#show1:checked ~ #controls label:nth-child(1) {
    color: lime;
}

#show2:checked ~ #controls label:nth-child(2) {
    color: orangered;
}

#show3:checked ~ #controls label:nth-child(3) {
    color: aqua;
}

input {
    display: none;
}