/* CSS Document */

* {
    font-family: sans-serif;
    margin: 0;
}

.image {
    display: inline-block;
}
.image img {
    width: 230px;
    height: 2
}

h1 {
    text-decoration: underline;
}

h2 {
    margin-top: 30px;
    margin-bottom: 10px;
}

#container {
        display: none;
}


header {
    background-color: lightskyblue;
    top: 100px;
    left: 0px;
    color: white;
    height: 110px;
    border-bottom: 1px solid white;
    z-index: 1;
}

#banner3 {
    height: 100px;
    top: 4px;
}


header h1 {
    position: relative;
    top: 4px;
    left: 8px;
}

.label a {
    position: absolute;
    color: white;
    font-size: 13pt;
    font-weight: bold;
    top: 3px;
    left: 5px;
    text-decoration: none;
    text-align: center;
    
}

.label:hover {
    background-color: skyblue;
    position: relative;
    cursor: pointer;

}

#schedtitle {
    text-align: center;
}

.head {
    font-weight: bold;
}

main {
    margin: 20px;
    text-align: center;
    width: 800px;
}

#p {
    text-align: left;
}

main p {
    text-align: left;
}

#contact {
    text-align: left;
    
}
.menu {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: darkblue;
    top: 28px;
    box-shadow: 0px 3px 5px rgb(100, 100, 100);
    width: 250px;
}

.item:hover {
    background-color: lightskyblue;
}

.menu ul {
    padding: 0;
    list-style: none;
    width: 55px;
    
}

main h1 {
    text-align: center;
}

.item {
    box-sizing: border-box;
    position: relative;
    border-top: 1px solid white;
    border-right: 1px solid white;
    border-left: 1px solid white;
    height: 30px;
    width: 250px;
    padding-right: 10px;
}

.drop .item:last-child {
    border-bottom: 1px solid white;
}

.drop .item:first-child {
}

.mainmenu {
    padding: 0;    
    margin: 0;
    list-style-type: none;
    text-align: center;
}

#icon {
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 6px;
}

.social {
    position: fixed;
    font-family: fantasy;
    font-size: 14px;
    right: 1%;
    bottom: 1%;
    z-index: 1;

}

.footers {
    height: 120px;
    width: auto;
    position: relative;
}

p {
    margin-bottom: 20px;
}

#histtitle {
    margin-top: 30px;
    text-align: center;
    margin-bottom: 20px;
}

table {
    margin-bottom: 20px;
    text-align: center;
    position: relative;
}

#rostermain {
    text-align: center;
}

#twit {
    margin-top: 20px;
    width: 100%;
}

td {
    padding: 10px;
}


iframe {
    margin-top: 20px;
    width: 100%;
    height: 70%;
}
@media (min-width: 750px) {

    table {
        left: 40px;
    }
    
    .imgs {
        display: none;
    }
    
    #alum {
        width: 400px;
        height: auto;
        margin-top: -300px;
        margin-left: 150px
    }
    
    header {
        display: block;
        position: fixed;
        width: 100%;
        background-color: white;
        z-index: 1;
        height: 110px;
        top: 0px;
    }
    .banners {
        display: block;
        z-index: 1;
    }
    #banner1 {
        position: fixed;
        height: 100px;
        width: auto;
        top: 0px;
        left: -6px;
    }
    #banner2 {
        position: fixed;
        height: 100px;
        width: auto;
        right: -6px;
        top: 4px;
    }
    #banner3 {
        width: 35%;
        left: 50%;
        position: fixed;
        margin-left: -17.5%;

    }

    #contact {
        position: relative;
        left: 0px;
        height: 300px;
        width: 200px;
    }

    main {
        height: 900px;
        width: 700px;
        margin-left: auto;
        margin-right: auto;
    }
        
    body {
        top: 140px;
        position: relative;
    }

    #container {
        display: block;
        background-color: pink;
        position: relative;
        height: 50%;
        margin-bottom: 54px;
    }

    .page {
        width: 100%;
        height: 100%;
        background-size: 100%;
        position: absolute;
        display: none;
    }

    #page1 {
        background-image: url(gallery/p1.jpg);
    }

    #page2 {
        background-image: url(gallery/p2.jpg);
    }

    #page3 {
        background-image: url(gallery/p3.jpg);
    }

    input[type="radio"]:checked + .page {
        display: block;
    }

    #controls {
        position: absolute;
        top: 430px;
        left: 50%;
        transform: translate(-50%, 0);
        user-select: none;
    }

    label {
        color: navy;
        font-size: 60pt;
        cursor: pointer;
    }

    #show1:checked ~ #controls label:nth-child(1) {
        color: gold;
    }

    #show2:checked ~ #controls label:nth-child(2) {
        color: gold;
    }

    #show3:checked ~ #controls label:nth-child(3) {
        color: gold;
    }

    input {
        display: none;
    }
        
    .label {
        position: relative;
        display: inline-block;
        border-left: 1px solid white;
        border-right: 1px solid white;
        height: 28px;
        width: 120px;
        margin-left: -6px;
        text-align: center;

    }
    
    .label:first-child {
        margin: 0;
        border-right: 0px solid white;
    }

    #icon {
        display: none;
    }
    
    #footer1 {
        left: -20px;
    }
    
    #footer2 {
        left: 60px;
    }
        
    nav {
        position: fixed;
        left: -30px;
        top: 110px;
        background-color: darkblue;
        height: 28px;
        border-bottom: 1px solid white;
        list-style-type: none;
        padding: 0;
        margin: 0;
        z-index: 1;
        width: 105%;        
    }

    .label:hover .menu {
        display: block;
    }

}

@media (max-width: 749px) and (min-width: 501px) {
    
    .extra {
        display: none;
    }
    
    table {
        left: 80px;
    }
    

    
    #alum {
        width: 80%;
        height: auto;
        margin-top: 20px;
    }
    
    main {
        height: 900px;
        width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
     
    #banner1 {
        display: none;
    }
    
    #banner2 {
        display: none;
    }
    
    #banner3 {
        left: 50%;
        width: 70%;
        margin-left: -35%;
        position: relative;
    }

    .imgs {
        width: 80%;
        height: auto;
        margin: 20px;
    }
    
    #icon {
        position: absolute;
        top: 0px;
        right: 0px;
        font-size: 22pt;
    }
    
    .label {
        position: relative;
        border-top: 1px solid white;
        border-right: 1px solid white;
        border-left: 1px solid white;
        height: 28px;
        width: 72px;
        list-style: none;
        padding: 0;
        background-color: navy;
        width: 120px;
    }
    
    .label:last-child {
        border-bottom: 1px solid white;
    }
    
    nav {
        display: none;
    }
    
    #newmenu {
        display: none;
        position: absolute;
        top: 45px;
        right: 0px;
        z-index: 1;
        
    }
    
    #icon:hover #newmenu {
        display: block;
    }

    #icon:hover {
        background-color: navy;
        cursor: pointer;
    }
}
@media (max-width: 500px) {
    
    .extra {
        display: none;
    }
    
    table {
        left: 80px;
    }
    

    
    #alum {
        width: 80%;
        height: auto;
        margin-top: 20px;
    }
    
    main {
        height: 900px;
        width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
     
    #banner1 {
        display: none;
    }
    
    #banner2 {
        display: none;
    }
    
    #banner3 {
        left: 50%;
        width: 70%;
        margin-left: -35%;
        position: relative;
    }

    .imgs {
        width: 80%;
        height: auto;
        margin: 20px;
    }
    
    #icon {
        position: absolute;
        top: 0px;
        right: 0px;
        font-size: 22pt;
    }
    
    .label {
        position: relative;
        border-top: 1px solid white;
        border-right: 1px solid white;
        border-left: 1px solid white;
        height: 28px;
        width: 72px;
        list-style: none;
        padding: 0;
        background-color: navy;
        width: 120px;
    }
    
    .label:last-child {
        border-bottom: 1px solid white;
    }
    
    nav {
        display: none;
    }
    
    #newmenu {
        display: none;
        position: absolute;
        top: 45px;
        right: -78px;
        z-index: 1;
        width: 200px;
        
    }
    
    #icon:hover #newmenu {
        display: block;
    }

    #icon:hover {
        background-color: navy;
        cursor: pointer;
    }
}